body {
  font-family: Exo, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.cursablestable-with-offset{

}
.button.navbutton {
  border-radius: 5px;
  background-color: #4d60a5;
}
.button.logout {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #344893;
}
.button.logout:hover {
  background-color: #576bb3;
}
.button.botonblack:hover {
  background-color: #545454;
}
.header-container {
  margin-top: 9px;
  text-align: center;
}
.centeredcontent {
  padding-top: 30px;
  text-align: center;
}
.centeredcontent.consulta {
  padding-top: 0px;
}
.submit-button {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #344893;
  border-radius: 10px;
  background-color: #344893;
  font-family: Exo, sans-serif;
}
.submit-button:hover {
  border-color: #576bb3;
  background-color: #576bb3;
}
.submit-button.espacioarriba {
  margin-top: 15px;
}
.submit-button.espacioarriba.espacioderecha {
  margin-right: 15px;
}
.submit-button.espacioabajo {
  margin-bottom: 15px;
}
.submit-button.espacioabajo:hover {
  border-color: #576bb3;
  background-color: #576bb3;
}
.login {
  margin-top: 10px;
}
.loginsection {
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 7px;
}
.footer {
  padding-top: 10px;
  border-top: 1px solid #787878;
  text-align: center;
  text-decoration: none;
}
.field {
  border-radius: 5px;
  text-align: center;
}
.introtext {
  margin-right: -50%;
  margin-left: -50%;
  text-align: center;
}
.datosalumno {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: left;
}
.selectionwidget {
  padding-top: 20px;
}
.bienvenida {
  margin-top: 0px;
}
.espacioarribaabajo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.espacioarribaabajo.detalles-materia {
  text-align: left;
}
.espacioarriba {
  margin-top: 15px;
}
.espacioabajo {
  margin-bottom: 20px;
}
.titlenotsobig {
  font-size: 16px;
}
.logout {
  text-align: center;
}
.titulosem {
  text-align: left;
}
.datossemetre {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.listadomateriashistorico {
  border-bottom: 1px solid #8f8f8f;
  ont-size: 11px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .introtext {
    margin-right: 0%;
    margin-left: 0%;
  }
}
@media (max-width: 479px) {
}